
@media screen and (max-width:400px){
    html{
/*        font-size: 80%; */
    }
    .converter input{
        font-size: .8rem;
    }
}

@media screen and (max-width:360px){
    .converter input{
        font-size: .7rem;
    }
}

@media screen and (max-width:360px){
    .converter input{
        font-size: .65rem;
    }
}
