
/*@media screen and (max-width:400px){
    .converter input{
        font-size: 1.3rem;
    }
}

@media screen and (max-width:360px){
    .converter input{
        font-size: 1.2rem;
    }
}

@media screen and (max-width:325px){
    .converter input{
        font-size: 1.15rem;
    }
}*/
